$mainWidthXLarge: 900px;
@media (max-width: 1300px) {
	.container {
	width: $mainWidthXLarge;
	}
	h2 {
		font-size: 40px;
	}
	
	.statistic-block {
		padding: 0px 0 80px 0;
		height: 100%;
		&__container {
			width: 374px;
			height: 844px;
			background-image: url("../images/stat-bg-vert.png");
			background-position: center;
			background-repeat: no-repeat;
			border-radius: 20px;

			padding-left: 96px;
			padding-top: 99px;
			&:before {
				display: none;
			}
			&:after {
				display: none;
			}
	  	}

		&__content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
		}
	
		&__item {
			margin-bottom: 90px;
	
			&-value {
				font-size: 60px;
				color: $accent-color;
				position: absolute;
			}
		}
  	}

	.section-block {
		height: 430px;
		display: flex;
		align-items: flex-start;
		position: relative;
		padding-top: 30px;

		&__promo {
			background: #F8F8F8;
			height: 666px;
			&:after {
				background-image: url("../images/promo-image.png");
				bottom: initial;
				background-position: center;
				top: 60%; 
				max-width: 1100px;
				width: 100%;
				background-size: contain;
				height: 675px;
				left: 0;
				right: 0;
				margin: 0 auto;
			}
		}
		&__container {
			display: flex;
			justify-content: center;
		}

		&__indent {
			margin-bottom: 450px;
		}
	
		&__content {
			&-wide {
				width: 560px;
			}
	
			p {
				margin: 24px, 16px, 56px, 16px;
				line-height: 29px;
				max-width: 650px;
			}
		}

		&__element {
			&:after {
				display: none;
			}
		}

		&__secondary {
			height: 900px;
	
			&:after {
				left: 0;
				right: 0;
				margin: 0 auto;
				position:absolute;
				background-image: url("../images/advisory-serveces-image.png");
				background-position: center;
				top: 25%; 
				max-width: 700px;
				width: 100%;
				background-size: contain;
				height: 675px;
			}
		}

		&__inverse {
			height: 900px;
			padding-top: 30px;

			&:after {
				background-image: url("../images/outcome-based-image.png");
				left: 0;
				right: 0;
				margin: 0 auto;
				background-position: center;
				top: 25%; 
				max-width: 700px;
				width: 100%;
				background-size: contain;
				height: 675px;
			}
	
			.section-block__content {
				margin: 0;
			}
		}

		&__button {
			&_mobile-first {
				margin-top: 510px;
				margin-left: auto;
				margin-right: auto
			}
			&_mobile-second {
				margin-top: 590px;
				margin-left: auto;
				margin-right: auto
			}
		}
	}

	.notice {
		&__subheader {
			&:after {
				display: none;
			}
		}
	}

	.gallery {
		margin-bottom: 25px;
		img {
			height: auto;
			width: 279px;
		}
		&__slider-container {
			position: relative;
			height: 350px;
			width: 100%;
		}
		&__content {
			width: 98%;
			font-size: 16px;
			line-height: 26px;
			color: $text-color-3;
			margin-top: 21px;
		}
	}

	.splide {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 350px;
		overflow: hidden;
		&__arrows {
			display: none;
		}
		&__track {
			min-width: 1000px;
			overflow: hidden;
		}
	}

	.contact {
		&__container {
			&:before {
				display: none;
			}
			&:after {
				display: none;
			}
		}

		&__title {
			&:before {
				display: none;
			}
			&:after {
				display: none;
			}
		}
	}

	.footer {
		&__container {
			justify-content: space-around;
		}
		&__logo {
			width: 114px;
		}
		&__menu {
			margin-left: 55px;
		}
		&__menu-block {
			margin-right: 36px;
		}
	}
}

$mainWidthLarge: 748px;
@media (max-width: 992px) {
	.container {
		width: $mainWidthLarge;
	}

	body {
		margin-top: 60px;
	}

	.header {
		z-index: 50;
		height: 65px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: #fff;
		display: flex;
		justify-content: space-between;
		&__container {
			justify-content: space-between;
			padding: 0 16px;
		}
		&__actions-block {
			display: none;
		}
	}

	nav {
		display: none;
	}

	.mobile-menu {
		z-index: 100;
		top: 60px;
		bottom: 0;
		right: 0;
		left: 100%;
		position: fixed;
		background-color: #fff;
		pointer-events: none;
		transition: left ease-out .2s;
		padding-left: 15px;
		padding-right: 15px;	
		overflow-y: auto;
		a {
			text-decoration: none;
			color: $text-color-3;
		}
		li {
			margin-bottom: 35px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&-title {
			display: block;
			font-size: 24px;
			line-height: 33px;
			position: relative;
			border-bottom: 1px solid #D0D0D0;
		}
		&-title-expand {
			position: relative;
			&:after {
				cursor: pointer;
				position: absolute;
				content: "";
				background-image: url("../images/lang-expand.svg");
				width: 17px;
				height: 8px;
				background-repeat: no-repeat;
				background-position: center center;
				transform: rotate(-90deg);
				top: 15px;
				bottom: 0;
				left: calc(100% - 20px);
				transition: ease-in-out .2s;
			}
			&-active:after {
				transform: rotate(0deg);
				transition: ease-in-out .2s;
			}
		}
		&-subtitle {
			display: flex;
			flex-direction: column;
			justify-content: start;
			font-size: 16px;
			line-height: 22px;
			display: none;
			a {
				margin-left: 17px;
				margin-top: 20px;
			}
			&-active {
				transition: ease-in-out .8s;
				display: flex;
			}
		}

		&-icons {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 30px;
		}

		&__menu-items {
			width: 100%;
			display: flex;
			a {
				white-space: nowrap;
				border-bottom: 0px;
			}
			li {
				margin-right: 15px;
				border-bottom: 0;
			}
		}

		&__actions-block {
			display: flex;
			align-items: center;
			margin-bottom: 40px;
		}

		&__language-select {
			cursor: pointer;
			font-weight: 600;
			font-size: 20px;
			color: $text-color-3;
			text-decoration: none;
			position: relative;
			margin-right: 15px;
				&:after {
					position: absolute;
					width: 12px;
					height: 6px;
					background-image: url("../images/lang-expand.svg");
					background-repeat: no-repeat;
					background-position: center center;
					top: 50%;
					bottom: 0;
					left: calc(100% + 4px);
					content: ' ';
				}
		}
	
		&__search-button {
			margin-right: 17px;
			width: 16px;
			height: 16px;
			background-image: url("../images/icons/search.svg"); 
			background-repeat: no-repeat;
			background-position: center center;
			background-color: white;
		}
	}

	.mobile-menu-show {
		left: 0;
		pointer-events: initial;
		display: block;
	}

	.menu__icon {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items:center;
		width: 34px;
		height: 34px;
		background-color: $accent-color;
		border-radius: 50%;
		cursor: pointer;
		transition: background ease-out 0.1s;
		span {
			border-radius: 10px;
			display: block;
			height: 1px;
			width: 13px;
			background-color: $text-color-3;
			transition: 0.5s all;
			&:not(:last-child) {
				margin-bottom: 3px;
			}
		}
		&_active {
			span {
				width: 20px;
				margin: 0;
				&:nth-child(1) {transform: translateY(4px) rotate(-45deg)};
				&:nth-child(2) {display: none};
				&:nth-child(3) {transform: rotate(45deg)};
			}
			background: #fff;
		
		}	
	}

	.section-block {
		height: 570px;
		display: flex;
		align-items: flex-start;
		position: relative;
		padding-top: 30px;
		&__promo {
			background: #F8F8F8;
			height: 666px;
			&:after {
				background-image: url("../images/promo-image.png");
				bottom: initial;
				background-position: center;
				top: 60%; 
				max-width: 1100px;
				width: 100%;
				background-size: contain;
				height: 675px;
				left: 0;
				right: 0;
				margin: 0 auto;
			}
		}

		&__indent {
			margin-bottom: 350px;
		}
	
		&__content {
			&-wide {
				width: 560px;
			}
	
			p {
				margin-top: 24px;
				margin-bottom: 32px;
				line-height: 29px;
				max-width: 650px;
			}
		}

		&__buttons-list {
			margin-right: 0;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		&__button {
			&:not(:last-child) {
				margin-bottom: 24px;
				margin-right: 0;
			}
		}

		&__secondary {
			height: 900px;
	
			&:after {
				left: 0;
				right: 0;
				margin: 0 auto;
				position:absolute;
				background-image: url("../images/advisory-serveces-image.png");
				background-position: center;
				top: 22%; 
				max-width: 700px;
				width: 100%;
				background-size: contain;
				height: 675px;
			}
		}

		&__inverse {
			height: 900px;
			padding-top: 30px;

			&:after {
				background-image: url("../images/outcome-based-image.png");
				left: 0;
				right: 0;
				margin: 0 auto;
				background-position: center;
				top: 28%; 
				max-width: 700px;
				width: 100%;
				background-size: contain;
				height: 675px;
			}
	
			.section-block__content {
				margin: 0;
			}
		}

		&__button {
			&_mobile-first {
				margin-top: 510px;
				margin-left: auto;
				margin-right: auto
			}
			&_mobile-second {
				margin-top: 590px;
				margin-left: auto;
				margin-right: auto
			}
		}
	}

	.statistic-block {
		padding: 0px 0 80px 0;
		&__container {
			width: 374px;
		}
	}

	.gallery {
		margin-top: 100px;
		&__container {
			width: 100%;
			overflow-x: auto;
		}
		img {
			height: auto;
			width: 279px;
		}
	}

	.contact {
		padding: 0;
		&__title {
			width: 290px;
			text-align: left;
		}
		&__columns {
			max-width: 375px;
			height: 929px;
			flex-direction: column-reverse;
			align-items: center;
		}
		&__column-left {
			position: relative;
			padding-left: 59px;
			padding-right: 59px;
			height: 442px;
			width: 375px;
			background-image: url("../images/contact-background_mb.png");
			border-radius: 0px;
			&:after {
				position: absolute;
				border-top: 2px solid #D0D0D0;
				content: "";
				width: 45px;
				height: 2px;
				border-radius: 1px
			}
		}
		&__column-right {
			top: -5px;
			position: absolute;
			flex-direction: column;
			padding-left: 24px;
    		padding-right: 24px;
			border-radius: 10px;
			height: 508px;
			width: 343px;
		}
		&__form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			input {
				width: 295px;
			}
		}	
		&__subtitle {
			margin-top: 45px;
			margin-bottom: 23px;
			&-dark {
				margin-top: 60px;
				text-align: center;
				margin-bottom: 47px;
			}
		}
		&__button {
			text-align: center;
			transform: translate(0%, 0%);
		}
		&__information {
			&:last-child {
				margin-bottom: 60px;
			}
		}
	}

	.footer {
	&__logo {
		margin-left: 16px;
		margin-right: 90px;
		margin-bottom: 40px;
	}
	&__container {
		flex-direction: column;
	}
	&__menu {
		flex-direction: column;
		margin-left: 16px;
	}
	&__menu-block {
		margin-right: 55px;
	}
	&__menu-items {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		a {
			white-space: nowrap;
		}
		li {
			margin-right: 17px;
		}
		&_medium {
			display: flex;
			flex-direction: column;
		}
	}
	&__menu-items-horizontal {
		margin-top: 30px;
		display: flex;
		justify-content: center;
		svg {
			height: 33px;
			width: 33px;
		}
		h4 {
			font-size: 0;
		}
	}
	}
	.menu__block_horizontal {
	h4 {
		display: none;
	}
	}	
}

$mainWidthMiddle: 570px;
@media (max-width: 767px) {
	.container {
	width: $mainWidthMiddle;
	}

	h1 {font-size: 40px;}
	h2 {font-size: 32px;}

	.header {
		&__container {
			padding: 0;
		}
	}

	.logo {
		width: 115px;
		height: 24px;
		background-size: contain;
	}

	.section-block {
		h1 {
			max-width: 345px;
			text-align: center;
			margin: 0 auto;
		}
		h2 {
			margin: 0 auto;
			font-size: 26px;
		}
		&__subtitle {
			text-align: left;
		}
		&__content-text {
			text-align: center;
		}
		&__button_mobile-second {
			margin-top: 530px;
		}
		&__button_mobile-first {
			margin-top: 515px;
		}
	}

	.contact {
		&__title {
			padding-bottom: 40px;
		}
	}

	.statistic-block {
		padding: 0px 0 30px 0;
		&__container {
			width: 374px;
		}
	}

	.notice {
		padding-bottom: 20px;
		&__subheader {
			max-width: 207px;
			margin: 0 auto;
		}
	}

	.gallery {
		margin-top: 75px;
	&__container {
		width: 100%;
		overflow-x: auto;
	}
	}
}

$mainWidthSmall: 343px;
@media (max-width: 590px) {

  .container {
	width: $mainWidthSmall;
  }

  .section-block {
	  &__indent {
		  margin-bottom: 270px;
	  }
	  &__promo {
		  padding-top: 60px;
		  &:after {
			  top: 63%;
		  }
	  }
	  &__content {
		width: 340px;
	  }
	  &__secondary {
		height: 704px;
		&:after {
			top: 18%;
		}
	  }
	  &__inverse {
		height: 704px;
		&:after {
			top: 23%;
		}
	  }
	  &__button_mobile-first {
		  margin-top: 270px;
	  }
	  &__button_mobile-second {
		margin-top: 340px;
	  }
  }

  .statistic-block {
	  &__container {
		  padding-left: 90px;
	  }
	  &__item-title {
		  width: 180px;;
	  }
  }

	.gallery {
		&__slider-container {
			width: 100%;
			overflow-x: auto;
		}
		&__content {
			width: 100%;
		}
	}

	.splide {
		&__item {
			width: 279px;
		}
	}
}

$mainWidthExtraSmall: 280px;
@media (max-width: 360px) {
  .container {
	width: $mainWidthExtraSmall;
  }

  .section-block {
	&__content {
		padding-left: 15px;
		padding-right: 15px;
	}
	&__secondary {
		&:after {
			top: 25%;
		}
	}
	&__inverse {
		&:after {
			top: 28%;
		}
	  }
	&__button_mobile-first {
		margin-top: 225px;
	}
	&__button_mobile-second {
		margin-top: 270px;
	}
  }

  .statistic-block {
	&__container {
		padding-left: 55px;
	}
  }

	.gallery {
		&__container {
			width: 100%;
			overflow-x: auto;
		}
		&__content {
			width: 90%;
		}
		&__title {
			margin-bottom: 40px;
		}
		img {
			width: 230px;
		}
		&__item {
			&:before {
				transform: translate(-90%, -50%);
			}
		}
	}

	.contact {
		&__column-right {
			width: 290px;
		}
		&__form {
			input {
				width: 270px;
			}
		}
	}
}