$mainWidthDefault: 1140px;

$mainWidthXLarge: 900px;
@mixin FOR_X_LARGE {
  @media (max-width: 1300px) {
	@content;
  }
}

$mainWidthLarge: 748px;
@mixin FOR_LARGE {
  @media (max-width: 992px) {
	@content;
  }
}

$mainWidthMiddle: 570px;
@mixin FOR_MIDDLE {
  @media (max-width: 768px) {
	@content;
  }
}

$mainWidthSmall: 300px;
@mixin FOR_SMALL {
  @media (max-width: 590px) {
	@content;
  }
}

$mainWidthExtraSmall: 280px;
@mixin FOR_EXTRA_SMALL {
  @media (max-width: 360px) {
	@content;
  }
}

// -------------------------------------------

@include FOR_X_LARGE {
	.container {
	width: $mainWidthXLarge;
	}
	.statistic-block {
		height: 100%;
		&__container {
			width: 343px;
			height: 844px;
			background-image: url("../images/stat-bg-vert.png");
			background-position: center;
			background-repeat: no-repeat;
			border-radius: 20px;

			padding-left: 96px;
			padding-top: 99px;
			&:before {
				display: none;
			}
			&:after {
				display: none;
			}
	  	}

		&__content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			// align-items: center;
		}
	
		&__item {
			margin-bottom: 90px;
	
			&-value {
				font-size: 60px;
				color: $accent-color;
				position: absolute;
			}
		}
  	}
}

@include FOR_LARGE {
  .container {
	width: $mainWidthLarge;
  }
}

@include FOR_MIDDLE {
  .container {
	width: $mainWidthMiddle;
  }
}

@include FOR_SMALL {
  .container {
	width: $mainWidthSmall;
  }
}

@include FOR_EXTRA_SMALL {
  .container {
	width: $mainWidthExtraSmall;
  }
}